.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85); /* Más oscuro */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: var(--surface-color);
  color: var(--text-primary);
  padding: 2rem;
  border-radius: 8px;
  border: 1px solid var(--primary-accent);
  width: 80%;
  max-width: 600px;
  max-height: 80vh;
  overflow-y: auto;
  position: relative;
  text-align: left;
  box-shadow: 0 0 25px rgba(154, 121, 221, 0.3);
}

.modal-close-button {
  display: block;
  margin: 20px auto 0;
  background-color: transparent;
  color: var(--primary-accent);
  border: 1px solid var(--primary-accent);
  padding: 10px 25px;
  border-radius: 5px;
  cursor: pointer;
  font-family: var(--font-headings);
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.modal-close-button:hover {
  background-color: var(--primary-accent);
  color: var(--background-dark);
}

.link-style {
  background: none;
  border: none;
  color: var(--primary-accent);
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

.link-style:hover {
  color: var(--secondary-accent);
}